{% extends "layout.html" %}

{% load static %}
{% block title %}
BlogAPP
{% endblock %}

{% block content %}
{% comment %} <h1 class="display-5 text-center"> Welcome to the <span class="text-warning">BlogApp</span></h1>
<a href="{% url 'Create_Blog' %}" class="btn btn-warning mt-2">Create a Blog</a> {% endcomment %}

<div class="container my-5">
    <div class="row gx-5 gy-5">
        {% for blog in blogs %}
        <div class="col-xl-4 col-lg-6 col-12">
            <div class="card shadow-sm h-100 w-100 g-*">
                <div class="card-image-container">
                    {% if blog.photo %}
                        <img src="{{ blog.photo.url }}" class="card-img-top" alt="default image">
                    {% else %}
                        <img src="media/photos/pexels-no_photo.jpg" class="card-img-top" alt="default image">
                    {% endif %}
                </div>
                
                {% comment %} <span class="badge bg-primary mb-2">Health</span> {% endcomment %}
                <div class="">
                    <div class="card-title bg-warning text-center">{{ blog.title }}</div>
                    <p class="card-text mt-3">{{ blog.content }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <div class="d-flex align-items-center mt-1 mb-3">
                        <img src="https://via.placeholder.com/40" alt="User Image" class="rounded-circle ms-2 me-2" width="40" height="40">
                        <div>
                            <h6 class="mb-0">{{ blog.user.username }}</h6>
                            {% load rounded_time %}
                            <small class="text-muted">{{ blog.created_at | rounded_timesince }}</small>
                        </div>
                    </div>
                    
                    <div class="w-50 d-flex justify-content-end me-2">
                        {% if is_my_blogs %}
                        <a href="{% url 'edit_blog' blog_id=blog.id %}" class="clickable-icons text-decoration-none me-2">
                            <img src="{% static 'blog/icons/edit.png' %}" width="30" height="30">
                        </a>
                        <a href="{% url 'delete_blog' blog_id=blog.id %}" class="clickable-icons text-decoration-none">
                            <img src="{% static 'blog/icons/delete.png' %}" width="27" height="27">
                        </a>
                        {% endif %}
                        <a href="{% url 'blog_detail' blog_id=blog.id %}" class="btn btn-primary btn-sm mx-3">Read</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}