{% extends "layout.html" %}
{% load static %}

{% block title %}
BlogAPP
{% endblock %}

{% block content %}

<div class="container my-5">
    {% if blogs %}
        <div class="row gx-5 gy-5">
        {% for blog in blogs %}
        <div class="col-xl-4 col-lg-6 col-12">
            <div class="card shadow-sm h-100 w-100 g-*">
                <div class="card-image-container">
                    {% if blog.photo %}
                        <img src="{{ blog.photo.url }}" class="card-img-top" alt="default image">
                    {% endif %}
                </div>
                
                <div class="">
                    <div class="card-title bg-warning text-center">{{ blog.title }}</div>
                    <p class="card-text text-muted mt-3">{{ blog.content }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <div class="d-flex align-items-center mt-2 mb-3">
                        <div>
                            {% load rounded_time %}
                            <small class="text-muted ms-3"><strong>Updated: </strong>
                            {{ blog.created_at | rounded_timesince }}</small>
                        </div>
                    </div> 

                    <div class="w-50 d-flex justify-content-end me-2 mt-2">
                        {% if blog.user == user %}
                        <a href="{% url 'edit_blog' blog_id=blog.id %}" class="clickable-icons text-decoration-none me-2">
                            <img src="{% static 'blog/icons/edit.png' %}" width="30" height="30">
                        </a>
                        <a href="{% url 'delete_blog' blog_id=blog.id %}" class="clickable-icons text-decoration-none">
                            <img src="{% static 'blog/icons/delete.png' %}" width="27" height="27">
                        </a>
                        {% endif %}
                        <a href="{% url 'blog_detail' blog_id=blog.id %}" class="btn btn-primary btn-sm mx-3 mb-2">Read</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="no-blogs d-flex justify-content-center">
        <img src="{% static 'blog/icons/—Pngtree—empty box icon blue.png' %}" alt="No blogs yet" class="img-fluid" style="height: 300px; width: 300px;">
    </div>
    <div class="text-center text-muted" style="font-size: 40px;">You don't have any blog yet.</div>
    {% endif %}

</div>

{% endblock %}